{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
  <form action="#">
    <h1>Contact Us</h1>
    <p class="lead">Tell us about our App!</p>

      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
      </div>
      
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
      

  </form>
</div>
{% endblock %}