{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<head>
    <title>Add Stock</title>
</head>

<body>
    <h1>Add a New Stock</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Stock Name</label>
            <input type="text" class="form-control" id="stock_name" name="stock_name" required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">ticker</label>
            <input type="text" class="form-control" id="ticker" name="ticker" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Current Market Price</label>
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Stock</button>
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Cancel</a>
    </form>

</body>

</html>
{% endblock %}