{% extends "base.html" %}
{% block title %}Market Hours{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="container mt-5">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <li class="nav-item d-flex align-items-center me-2">
                        <span class="navbar-text">Welcome, Administrator!</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <h1>You are not logged in.</h1>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Admin Dashboard: Manage Holiday Exceptions</h1>
    </div>

    <!-- Adding a Holiday -->
    <div class="card shadow">
        <div class="card-header">
            <h4 class="mb-0">Holiday</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="holidayDate">Holiday Date:</label>
                        <input type="date" id="holidayDate" name="holidayDate" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="reason">Reason for Closure:</label>
                        <input type="text" id="reason" name="reason" required>
                    </div>
                </div>
                <button type="submit">Add Holiday</button>
        </div>

        </form>
    </div>
</div>
{% endblock %}