{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<h3>Add New Stock To Market</h3>
<form method="POST" action="{{ url_for('add_stocks') }}">
    <div>
        <label>Stock Name:</label>
        <input type="text" name="stockName" required>
    </div>
    <div>
        <label>Ticker Symbol:</label>
        <input type="text" name="ticker" required>
    </div>
    <div>
        <label>Quantity:</label>
        <input type="number" name="quantity" required min="1">
    </div>
    <div>
        <label>Market Price ($):</label>
        <input type="number" name="price" step="0.01" required min="0">
    </div>
    <button type="submit">Add Stock</button>
</form>




{% endblock %}
