{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="container mt-5">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          {% if current_user.is_authenticated and current_user.role == 'admin' %}
          <li class="nav-item d-flex align-items-center me-2">
            <span class="navbar-text">Welcome, Administrator!</span>
          </li>
          <li class="nav-item">
            <a class="btn btn-warning" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          <li>
            <h1>You are not logged in.</h1>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Admin Dashboard</h1>
  </div>

  <!-- List of all the stocks in market -->

  <body>
    <h1>Stocks in Market List</h1> {% with messages = get_flashed_messages() %} {% if messages %} <ul> {% for message in
      messages %} <li>{{ message }}</li> {% endfor %} </ul> {% endif %} {% endwith %} <table border="1">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Ticker</th>
          <th>Shares</th>
          <th>Current Market Price</th>
        </tr>
      </thead>
      <tbody> {% for stock in stocks %} <tr>
          <td>{{ stock.stockName }}</td>
          <td>{{ stock.ticker }}</td>
          <td>{{ stock.quantity }}</td>
          <td>{{ stock.currentMarketPrice }}</td>
          <td>
            <a href="{{ url_for('delete_stock', id=stock.id) }}" class="btn btn-danger btn-sm"
              onclick="return confirm('Are you sure?')">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <div>
    <a class="btn btn-success" href="{{ url_for('manage_markethours') }}" role="button">Manage Market Hours</a>
  </div>
</div>



{% endblock %}