{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

      </ul>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light me-2" href="{{ url_for('login') }}" role="button">Login</a>
        <a class="btn btn-warning" href="{{ url_for('signup') }}" role="button">Signup</a>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">Welcome to ChaiStocks!</h1>
    <p class="text-center lead fs-4 text-secondary mb-3">Login or Sign up to look through and manage your Stocks.</p>
      <div class="col-12 col-lg-6 col-xl-5 mx-auto d-flex justify-content-center">
        <img class="img-fluid rounded" loading="lazy"
            src="{{ url_for('static', filename='images/thai-bubble-tea-recipe.jpg') }}" alt="thaibubbletea">
      </div>
  </div>
</div>
{% endblock %}
