{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}

<head>
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center me-2">
                        <span class="navbar-text">Welcome, {{ current_user.username }}!</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <h1>You are not logged in.</h1>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header">Wallet</div>
                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <h5 class="card-title">Current Earnings</h5>
                        <p class="card-text">${{ "{:,.2f}".format(wallet_amount or 0) }}</p>
                        <div class="mt-auto d-flex justify-content-center gap-2">
                        <a href="{{ url_for('purchasingstocks')}}" class="btn btn-primary mt-auto">Buy Stocks</a>
                        <a href="{{ url_for('sellingstocks') }}" class="btn btn-primary mt-auto">Sell Stocks</a>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-lg-8 mb-4">
        <div class="card h-100">
            <div class="card-header">My Watchlist</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0">NVIDIA Corp (NVDA)</h6><small>NASDAQ</small>
                    </div>
                    <div><span class="price-change-positive">+0.66 (0.35%)</span></div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0">Advanced Micro Devices Inc (AMD)</h6><small>NASDAQ</small>
                    </div>
                    <div><span class="price-change-positive">+2.22 (1.37%)</span></div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0">Intel Corp (INTC)</h6><small>NASDAQ</small>
                    </div>
                    <div><span class="price-change-positive">+2.39 (7.12%)</span></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="card h-100">
        <div class="card-header">Order History</div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Stock Name</th>
                        <th>Quantity</th>
                        <th>Type of Transaction</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id in OrderHistory %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.orderQuantity }}</td>
                        <td>{{ order.Type }}</td>
                        <td>{{ order.totalOrderAmount }}</td>
                        <td>{{ order.createdAt }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="100%" class="text-center p-4">
                            No Order History. Buy or Sell Stocks!
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
{% endblock %}
